*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
body {
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    background-image: url(assets/ezgif.com-reverse.gif);
    user-select: none;
}

img {
    pointer-events: none;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}

.text-section {
    flex: 1;
    padding-left: 2rem;
    max-width: 800px;
    margin: 100px;
}

.myname h1 {
    position: relative;
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 150px;
    line-height: 120px;
    letter-spacing: -0.06em;
}

@keyframes blink {
    50% { opacity: 0; }
}

.dynamic-text::after {
    content: "|"; 
    display: inline-block;
    animation: blink 0.8s infinite;
}

.dynamic-text {
    display: block; 
    height: 2em; 
}


.myname p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 69px;
    color: #fff;
    }

.photo {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 40px;
    width: 46vw;  
    height: 100vh;
    overflow: hidden; 
    z-index: 2;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);

    
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.projects-section {
    padding: 8rem 2rem;
    text-align: center;
}

.projects-section h1 {
    font-size: 88px;
    color: #fff;
    margin-bottom: 3rem;
}

.projects-container {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 4rem;
    justify-content: center;
    place-items: center;
    max-width: 1000px; 
    margin: 0 auto;
}


.project-card {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    overflow: hidden;
    text-align: left;
    width: 100%;
    min-height: 750px;
}


.project-image {
    width: 100%;
    height: 500px; 
    object-fit: cover; 
    border-radius: 12px;
    display: block;
}


.project-content {
    padding: 2rem 1.5rem;
    color: #fff;
}

.project-content h1 {
    font-size: 1.8rem;
    margin: 0.9rem 0;
}

.project-content p {
    font-size: 0.9rem;
    opacity: 0.8;
    max-width: 360px;
}


.button-container {
    display: flex;
    gap: 6rem;
    justify-content: center;
    margin-top: 4.5rem; 
}

.btn {
    background: transparent;
    color: #fff;
    border: 2px solid #fff; 
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: normal;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}


.btn:hover {
    background: #444;
    color: #fff;
}


.social-icons {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.social-icons a {
    display: inline-block;
    width: 30px;
    height: 30px;
    fill: #fff;
    transition: fill 0.8s ease;
}


.social-icons a:hover svg {
    fill: #555;
}


.scroll-to-top {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #fff;
    color: #121212;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 1000;
}

.scroll-to-top svg {
    fill: #121212;
}

.scroll-to-top:hover {
    background-color: #555;
}


.cards-container {
    display: flex;
    gap: 30px; 
    justify-content: center; 
    flex-wrap: wrap; 
}


.skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 450px;
    padding: 30px;
    border: 2px solid #fff;
    background-color: transparent;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skills {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 0;
}

.skills h1 {
    font-size: 88px;
    color: #fff;
    margin-bottom: 3rem;
}

.skill-card svg {
    fill: #fff;
    margin-bottom: 15px;
    font-size: 5p;
    width: 60px;
    margin: 0;
    padding: 0;
}

.skill-card h3 {
    color: #fff;
    font-size: 22px;
    margin: 15px 0;
}

.skill-card p {
    color: #fff;
    font-size: 16px;
    opacity: 0.8;
}

.skill-card:hover {
    transform: translateY(-15px);
    box-shadow: 0 6px 15px rgba(255, 255, 255, 0.3);
}


.sobre-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 2rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 8px;
    gap: 2rem;
    max-width: 100vh;
}

  .sobre-container h1 {
    font-size: 88px;
    color: #fff;
    margin-bottom: 3rem;
    text-align: center;
  }
  


  .card-image img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center bottom;
    border-radius: 50%;
    border: 2px solid #fff;
  }
  

  .card-content {
    color: #fff;
    background-color: #000;
    padding: 50px;
    border-radius: 20px;
    border: 2px solid #fff; 
  }
  

  .card-content h2 {
    margin-bottom: 1rem;
  }

.contact-container {
    width: 100%;
    border-top: 2px solid #fff;
    padding: 4rem 2rem;
    text-align: center;
    border-top: none; 
}

.contact-container h2 {
    color: #fff;
    font-size: 34px;
    margin-bottom: 3.5rem;
    font-weight: 600;
}

.contact-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
}

.contact-item {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    transition: 0.3s;
    gap: 0.7rem;
}

.contact-item img {
    width: 24px;
    height: 24px;
}



.contact-item[href*="t.me"]:hover {
    color: #0088cc;
}

.contact-item[href*="mailto:"]:hover {
    color: #FF3B30;
}


@media (max-width: 768px) {

    .project-image {
        height: 200px;
    }

    .scroll-to-top {
        display: none;
    }

    .text-section {
        flex: 1;
        padding-left: 2rem;
        max-width: 800px;
        margin: 0; 
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        height: 100%;
    }

    .myname {
        margin-top: 1rem; 
    }

    .myname p {
        font-size: 1.2rem; 
        white-space: nowrap;
    }

    .myname h1 {
        font-size: 3.6rem; 
        line-height: 0.8; 
        white-space: normal;
        max-width: 80%;
    }

    .card-content {
        width: 330px;
    }
    .social-icons a {
        margin: 0.2rem; 
    }

    .photo {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto;
        max-width: 400px; 
        z-index: -1; 
        opacity: 0.5; 
        filter: blur(2px); 
    }

    .skills h1 {
        font-size: 48px;
    }

    .skill-card {
        width: 300px; 
        height: 350px; 
        padding: 20px; 
    }

    .skill-card h3 {
        font-size: 18px; 
    }

    .skill-card p {
        font-size: 14px; 
    }

    .sobre-container h1 {
        font-size: 48px; 
    }

    .sobre-container .card {
        flex-direction: column; 
        align-items: center;
    }


    .card-image img {
        width: 200px; 
        height: 200px;
    }

    .projects-section h1 {
        font-size: 48px; 
    }

    .projects-container {
        grid-template-columns: 1fr;
    }

    .project-card {
        min-height: 500px; 
        width: 100%; 
    }

    .project-content h1 {
        font-size: 1.5rem; 
    }

    .project-content p {
        font-size: 0.8rem; 
    }

    .button-container {
        flex-direction: column; 
        align-items: center; 
        gap: 1rem; 
    }

    .btn {
        width: 100%;
        text-align: center;
        padding: 1rem 1rem;
        font-size: 1.5rem; 
        max-width: 200px;
    }
}
